#window {
  margin: 0px;
  border: 2px solid #33ccff;
  background-color: #1a1b26;
  font-family: "JetBrainsMono Nerd Font", "Hack";
  font-size: 14px;
}

#input {
  margin: 0px;
  padding: 5px;
  padding-left: 15px;
  border: none;
  color: #d8dee9;
  background-color: #1a1b26;
}

#inner-box {
  border: none;
}

#outer-box {
  margin: 5px;
  border: none;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 1px;
  border: none;
  color: #d8dee9;
}

#entry {
  padding-left: 15px;
}

#img {
  margin: 5px;
}

#entry:selected {
    background-color: rgba(24, 24, 24, 0.8);
    border: 1px solid #0f4152;
    border-radius: 10px;
    padding-left: 25px;
    outline: none;
}
